:root {
  min-height: 100vh;
   
}

body {
  background: linear-gradient(135deg, #0b1425, #240a3d);
  color: #fff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
 
 }
 
.container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;  
}

.app-container {
  min-height: 70vh;
  overflow: hidden; 
}

.navbar {
  padding: 1rem 2rem;  
  margin-bottom: 3rem;
  color: #fff;
}

.nav {
  display: flex;
  gap: 1rem;  
  justify-content: space-between;
  align-items: center;
}

.app-wrapper {
  max-width:500px;
  color: #fff;
  background: linear-gradient(135deg, #090e16, #100818);
  margin:  auto;
  padding: 2rem 1rem 1rem;
  border-radius: 10px;
}

.app-title {
  color: #ddd;
  display: flex;
  align-items: center;  
  justify-content: flex-start;
  width: auto;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 10px;
  gap: 10px;
}

.form input {
  border: none;
  padding: 1rem;
  outline: none;
  font-size: 14px;
  font-weight: 50px;
  border-radius: 10px !important; 
  width: 72%;
  height: 10px;
  background: #fff;
}

.form .btn {  
  border-radius: 10px;
  width: 20%;
  border: none;
  padding: 15px !important;
  background: #4b0e5a;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
} 

.btn:hover {
  opacity: 1;
} 

.filter {
  margin: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.filter input {
  padding: 10px;
  border: none;
  font-size: 1rem;
  outline: none;
}

.item-list {
  list-style: none;
  margin: 2rem 0;
  max-height: 300px;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.item-list::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.item-list li {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #444;
  background: #334;
  padding: 10px;  
  border-radius: 10px;
  font-size: 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
}

.item-list li .item {
  position: relative;
  padding: 0 0 0 2rem;
  font-size: 14px;
  color: #ddd;
  align-self: flex-start;
  text-align: left;
}

.item-list li .item::before {
  content: '';
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: url('./assets/unchecked.png') no-repeat center center/cover;
  top: 5px;
  left: 0;
}

.item-list li .item.checked {
  color: #555;
  text-decoration: line-through;
}

.item-list li .item.checked::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  background: url('./assets/done.png') no-repeat center center/cover;
  top: 4px;
}

li .status {
  margin-left: 1rem;
  color: #fff;
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 5px;
}


li .status.high {
  background: red;
  
}
li .status.mid {
  background: orange;
}
li .status.low {
  background: rgba(104, 104, 196, 0.867);
}

li .status.completed {
  background: green;
  opacity: 0.5;
}


.btn-delete {
  background-color: transparent;
  border: none;
  color: red;
  padding: 7px;
}

.btn-edit:hover,
.btn-delete:hover {
  transform: scale(1.1);
  cursor: pointer;

}

.editing {
  pointer-events: none;
  opacity: 0.5;
}

.btn-clear {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(240, 164, 164);
  width: 100%;
  cursor: pointer;
  background: none;
  color: #fff;
  opacity: 0.7;
  /* display: none; */
}

.btn-clear:hover {
  opacity: 1;
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 1rem 0 1rem;
  font-size: 12px;
  color: #ccc;
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  
} 

.nav .priority{
  padding: 5px;
  padding-right: 15px;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  margin-top: 5px;
  background: #170533;
  color: #Efff;
  display: block;
}

.nav .priority:hover {
  display: block;
}